githubConfigUrl: "https://github.com/Vinnelle/gaia"
githubConfigSecret: arc-github-app

minRunners: 0

containerMode:
  type: "dind"

template:
  spec:
    hostAliases:
      - ip: "${registry_internal_ip}"
        hostnames:
          - "registry.vinnel.cloud"

controllerServiceAccount:
  namespace: arc-systems
  name: arc-gha-rs-controller

metrics:
  controllerManagerAddr: ":8080"
  listenerAddr: ":8080"
  listenerEndpoint: "/metrics"
