externalURL: https://registry.vinnel.cloud
harborAdminPassword: ${jsonencode(admin_password)}

expose:
  type: clusterIP
  tls:
    enabled: false

persistence:
  enabled: true
  imageChartStorage:
    disableredirect: true
    type: s3
    s3:
      region: us-east-1
      bucket: harbor
      regionendpoint: http://seaweedfs.seaweedfs.svc.cluster.local:8333
      accesskey: ${jsonencode(s3_access_key)}
      secretkey: ${jsonencode(s3_secret_key)}
      secure: false
      v4auth: true
      forcepathstyle: true
      rootdirectory: /source
