externalURL: https://registry.vinnel.cloud
harborAdminPassword: ${jsonencode(admin_password)}

expose:
  type: clusterIP
  tls:
    enabled: false

persistence:
  enabled: true
  persistentVolumeClaim:
    registry:
      size: 20Gi
