apiVersion: v1alpha1
kind: NetworkDefaultActionConfig
ingress: block
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: web-from-cloudflare
portSelector:
  ports:
    - 80
    - 443
  protocol: tcp
ingress:
  - subnet: 173.245.48.0/20
  - subnet: 103.21.244.0/22
  - subnet: 103.22.200.0/22
  - subnet: 103.31.4.0/22
  - subnet: 141.101.64.0/18
  - subnet: 108.162.192.0/18
  - subnet: 190.93.240.0/20
  - subnet: 188.114.96.0/20
  - subnet: 197.234.240.0/22
  - subnet: 198.41.128.0/17
  - subnet: 162.158.0.0/15
  - subnet: 104.16.0.0/13
  - subnet: 104.24.0.0/14
  - subnet: 172.64.0.0/13
  - subnet: 131.0.72.0/22
  - subnet: 2400:cb00::/32
  - subnet: 2606:4700::/32
  - subnet: 2803:f800::/32
  - subnet: 2405:b500::/32
  - subnet: 2405:8100::/32
  - subnet: 2a06:98c0::/29
  - subnet: 2c0f:f248::/32
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: web-from-pods
portSelector:
  ports:
    - 80
    - 443
  protocol: tcp
ingress:
  - subnet: 10.244.0.0/16
  - subnet: ${node_ip}/32
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: kubernetes-api
portSelector:
  ports:
    - 6443
  protocol: tcp
ingress:
  - subnet: 0.0.0.0/0
  - subnet: ::/0
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: talos-apid
portSelector:
  ports:
    - 50000
  protocol: tcp
ingress:
  - subnet: 0.0.0.0/0
  - subnet: ::/0
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: kubelet-from-pods
portSelector:
  ports:
    - 10250
  protocol: tcp
ingress:
  - subnet: 10.244.0.0/16
  - subnet: ${node_ip}/32
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: metrics-from-pods
portSelector:
  ports:
    - 9100
    - 10254
  protocol: tcp
ingress:
  - subnet: 10.244.0.0/16
  - subnet: ${node_ip}/32
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: control-plane-metrics-from-pods
portSelector:
  ports:
    - 2381
    - 10249
    - 10257
    - 10259
  protocol: tcp
ingress:
  - subnet: 10.244.0.0/16
  - subnet: ${node_ip}/32
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: hubble-peer-from-pods
portSelector:
  ports:
    - 4244
  protocol: tcp
ingress:
  - subnet: 10.244.0.0/16
  - subnet: ${node_ip}/32
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: satisfactory-saves-http-from-pods
portSelector:
  ports:
    - 8080
  protocol: tcp
ingress:
  - subnet: 10.244.0.0/16
  - subnet: ${node_ip}/32
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: satisfactory-game-tcp
portSelector:
  ports:
    - 7777
    - 8889
  protocol: tcp
ingress:
  - subnet: 0.0.0.0/0
  - subnet: ::/0
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: satisfactory-game-udp
portSelector:
  ports:
    - 7777
  protocol: udp
ingress:
  - subnet: 0.0.0.0/0
  - subnet: ::/0
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: minecraft-rcon-from-pods
portSelector:
  ports:
    - 25575
  protocol: tcp
ingress:
  - subnet: 10.244.0.0/16
  - subnet: ${node_ip}/32
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: minecraft-game-tcp
portSelector:
  ports:
    - 25565
  protocol: tcp
ingress:
  - subnet: 0.0.0.0/0
  - subnet: ::/0
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: netbird-stun
portSelector:
  ports:
    - 3478
  protocol: udp
ingress:
  - subnet: 0.0.0.0/0
  - subnet: ::/0
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: netbird-stun-tcp
portSelector:
  ports:
    - 3478
  protocol: tcp
ingress:
  - subnet: 0.0.0.0/0
  - subnet: ::/0
---
apiVersion: v1alpha1
kind: NetworkRuleConfig
name: dhcp-client
portSelector:
  ports:
    - 68
  protocol: udp
ingress:
  - subnet: 0.0.0.0/0
