clusterName: "${cluster_name}"
otelCollectorEndpoint: "http://signoz-otel-collector.${observability_namespace}.svc.cluster.local:4318"
otelInsecure: true

otelAgent:
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8888"

presets:
  prometheus:
    enabled: true
    annotationsPrefix: prometheus.io
    namespaceScoped: false
    scrapeConfigs:
      - job_name: kube-apiserver
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          insecure_skip_verify: true
        authorization:
          type: Bearer
          credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: endpoints
            namespaces:
              names: [default]
        relabel_configs:
          - source_labels:
              - __meta_kubernetes_service_name
              - __meta_kubernetes_endpoint_port_name
            action: keep
            regex: kubernetes;https

      - job_name: kube-controller-manager
        scheme: https
        tls_config:
          insecure_skip_verify: true
        authorization:
          type: Bearer
          credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names: [kube-system]
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_k8s_app]
            action: keep
            regex: kube-controller-manager
          - source_labels: [__meta_kubernetes_pod_ip]
            target_label: __address__
            replacement: $1:10257

      - job_name: kube-scheduler
        scheme: https
        tls_config:
          insecure_skip_verify: true
        authorization:
          type: Bearer
          credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names: [kube-system]
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_k8s_app]
            action: keep
            regex: kube-scheduler
          - source_labels: [__meta_kubernetes_pod_ip]
            target_label: __address__
            replacement: $1:10259

      - job_name: kube-proxy
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names: [kube-system]
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_k8s_app]
            action: keep
            regex: kube-proxy
          - source_labels: [__meta_kubernetes_pod_ip]
            target_label: __address__
            replacement: $1:10249

      - job_name: coredns
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names: [kube-system]
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_k8s_app]
            action: keep
            regex: kube-dns
          - source_labels: [__meta_kubernetes_pod_ip]
            target_label: __address__
            replacement: $1:9153

      - job_name: kubelet
        scheme: https
        tls_config:
          insecure_skip_verify: true
        authorization:
          type: Bearer
          credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node

      - job_name: etcd
        static_configs:
          - targets: ["${node_ip}:2381"]
