server_name: "${server_name}"
public_baseurl: "https://${hostname}/"
pid_file: /data/homeserver.pid
report_stats: false

listeners:
  - port: 8008
    type: http
    tls: false
    x_forwarded: true
    bind_addresses: ["0.0.0.0"]
    resources:
      - names: [client, media]
        compress: false

database:
  name: psycopg2
  args:
    user: synapse
    password: "${db_password}"
    database: synapse
    host: matrix-postgres
    port: 5432
    cp_min: 2
    cp_max: 10

media_store_path: /data/media_store
signing_key_path: /data/signing.key
max_upload_size: 50M

registration_shared_secret: "${registration_shared_secret}"
macaroon_secret_key: "${macaroon_secret_key}"
form_secret: "${form_secret}"
enable_registration: false
allow_guest_access: false

federation_domain_whitelist: []
trusted_key_servers: []
suppress_key_server_warning: true
allow_public_rooms_over_federation: false
url_preview_enabled: false
